<% provide :header do %>

<header class="container mt-5">
  <!-- Navbar -->
  <nav class="shadow-lg p-3 navbar navbar-expand-lg navbar-dark shadow-5-strong">
    <!-- Container wrapper -->
    <div class="container-fluid">
      
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
<% end %>
