@import 'bootstrap';

//
// @mixin gradient-bg($color: null) {
//   background-color: $color;
//
//   @if $enable-gradients {
//     background-image: var(--#{$variable-prefix}gradient);
//   }
// }

@mixin gradient-radial($inner-color: #262629, $outer-color: #1d1d1f) {
  background-image: radial-gradient(circle, $inner-color, $outer-color);
}


body,html {
  height: 100%;
  width: 100%;
  @include gradient-radial;
}
