<% provide :page_title, "Home" %>
<% currently_at "Weather" %>

<div class="container my-3">
  <ul>
    <% @weathers.each do |weather| %>
      <li>
        <%= weather.city %>
      </li>
    <% end %>
  </ul>


</div>
